<link rel="stylesheet" href="/addStudent.css">

<form class="form-card" method="post" action="/addCourse">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Add a Course</legend>
        <div class="form-radio form-radio-inline">
        <div class="form-checkbox form-checkbox-inline">


        <div class="form-element form-input">
            <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder=" " type="input" required name="c_id"/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">Enter Course ID</label>
        </div>

        <div class="form-element form-input">
            <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder=" " type="input" required name="c_dept"/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">Enter Department ID</label>
        </div>

        <div class="form-element form-input">
            <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder=" " type="input" required name="c_title"/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">Enter Course Title</label>
        </div>        

        <div class="form-element form-textarea">
        <textarea id="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm" class="form-element-field" placeholder=" " name="c_desc"></textarea>
        <div class="form-element-bar"></div>
        <label class="form-element-label" for="field-3naeph-0f3yuw-x153ph-dzmahy-qhkmgm">Course Description</label>
        </div>

        <div class="form-element form-input">
            <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder=" " type="input" required name="c_credits"/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">Enter # of Credits</label>
        </div>  



    </fieldset>
    <div class="form-actions">
        <button class="form-btn" type="submit">Submit Course</button>
        <button class="form-btn-cancel -nooutline" type="reset">Cancel</button>
    </div>
</form>