<link rel="stylesheet" href="/addStudent.css">

<form class="form-card" method="post" action="/viewGradPrograms">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Choose Available Grad Programs</legend>
        <div class="form-radio form-radio-inline">
            <div class="form-checkbox form-checkbox-inline">



    <div class="form-element form-select">
            <select id="field-be1h8i-ll2hpg-q4efzm-nfjj1e-udkw5r" class="form-element-field" placeholder="Please select an option" type="input" required name="grad">
                
                       <option disabled selected value="NULL">Select a Grad Program</option>
                        <option value="0">N/A</option>
                        <option value="1">Accounting</option>
                        <option value="4">Childhood Special Education</option>
                        <option value="5">Data Analytics</option>
                        <option value="6">Forensic Accounting</option>
                        <option value="7">Literacy Education</option>
                        <option value="8">Mental Health Counseling</option>
                        <option value="9">Taxation</option>
                        <option value="10">Adolescence Education: Biology (7-12)</option>
                        <option value="11">Adolescence Education: English Language Arts (7-12)</option>
                        <option value="12">Adolescence Education: Mathematics (7-12)</option>
                        <option value="13">Adolescence Education: Social Studies (7-12)</option>
                        <option value="14">Adolescence Education: Spanish (7-12)</option>
                    </select>
                <div class="form-element-bar"></div>

            
        </div>
    </fieldset>
    <div class="form-actions">
        <button class="form-btn" type="submit">Submit</button>
        <button class="form-btn-cancel -nooutline" type="reset">Cancel</button>
    </div>
</form>