<link rel="stylesheet" href="/addStudent.css">

<form class="form-card" method="post" action="/changeMinor">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Change Minor</legend>
        <div class="form-radio form-radio-inline">
            <div class="form-checkbox form-checkbox-inline">



    <div class="form-element form-select">
            <select id="field-be1h8i-ll2hpg-q4efzm-nfjj1e-udkw5r" class="form-element-field" placeholder="Please select an option" type="input" required name="minor_type">
                        <option disabled selected value="NULL">Select a Minor Program</option>
                        <option value="1">Accounting</option>
                        <option value="2">African American Studies</option>
                        <option value="3">Applied Mathematics</option>
                        <option value="4">Chemistry</option>
                        <option value="5">Computer and Information Sciences</option>
                        <option value="6">Congregational Leadership</option>
                        <option value="7">Digital Design Marketing</option>
                        <option value="8">Economics</option>
                        <option value="9">Entertainment and Sports Management</option>
                        <option value="10">Environmental Studies</option>
                        <option value="11">French Studies</option>
                        <option value="12">General Business</option>
                        <option value="13">Global Studies</option>
                        <option value="14">Hispanic Cultural Studies</option>
                        <option value="15">Industrial and Labor Relations</option>
                        <option value="16">Islamic Studies</option>
                        <option value="17">Italian Cultural Studies</option>
                        <option value="18">Marketing</option>
                        <option value="19">Mathematics</option>
                        <option value="20">Media and Communications</option>
                        <option value="21">Media Design</option>
                        <option value="22">Multicultural US/British Literature</option>
                        <option value="23">Neuropsychology</option>
                        <option value="24">Philosophy and Religion</option>
                        <option value="25">Physics</option>
                        <option value="26">Pre-Law Studies</option>
                        <option value="27">Psychology</option>
                        <option value="28">Public Policy</option>
                        <option value="29">Social Work</option>
                        <option value="30">Spanish</option>
                        <option value="31">Visual Arts</option>
                        <option value="32">Women and Gender Studies</option>
                    </select>
                <div class="form-element-bar"></div>

            
        </div>
    </fieldset>
    <div class="form-actions">
        <button class="form-btn" type="submit">Submit</button>
        <button class="form-btn-cancel -nooutline" type="reset">Cancel</button>
    </div>
</form>