<link rel="stylesheet" href="/addStudent.css">

<form class="form-card" method="post" action="/changeMajor">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Change Major</legend>
        <div class="form-radio form-radio-inline">
            <div class="form-checkbox form-checkbox-inline">



    <div class="form-element form-select">
            <select id="field-be1h8i-ll2hpg-q4efzm-nfjj1e-udkw5r" class="form-element-field" placeholder="Please select an option" type="input" required name="major_type">
                        <option disabled selected value="NULL">Select a Major Program</option>
                        <option value="0">N/A</option>
                        <option value="1">Adolescence Education: Chemistry (7-12)</option>
                        <option value="2">Adolescent Education: Social Studies (7-12)</option>
                        <option value="3">Adolescence Education: Spanish (7-12)</option>
                        <option value="4">American Studies</option>
                        <option value="5">Biological Sciences</option>
                        <option value="6">Chemistry</option>
                        <option value="7">English</option>
                        <option value="8">History</option>
                        <option value="9">Industrial and Labor Relations</option>
                        <option value="10">Media and Communications</option>
                        <option value="11">Philosophy and Religion</option>
                        <option value="12">Politics, Economics and Law</option>
                        <option value="13">Psychology</option>
                        <option value="14">Sociology</option>
                        <option value="15">Spanish Language, Hispanic Literature and Culture</option>
                        <option value="16">Visual Arts</option>
                        <option value="17">Accounting</option>
                        <option value="18">Adolescence Eduction: Biology (7-12)</option>
                        <option value="19">Adolescence Education: Mathematics (7-12)</option>
                        <option value="20">Biochemistry</option>
                        <option value="21">Business Administration</option>
                        <option value="22">Childhood Education (1-6)</option>
                        <option value="23">Childhood Education with Bilingual Extension (1-6)</option>
                        <option value="24">Computer and Information Science</option>
                        <option value="25">Criminology</option>
                        <option value="26">Finance</option>
                        <option value="27">Health and Society</option>
                        <option value="28">Management Information Systems</option>
                        <option value="29">Marketing</option>
                        <option value="30">Mathematics</option>
                        <option value="31">Middle Childhood Education: Biology (5-9)</option>
                        <option value="32">Middle Childhood Education: Chemistry (5-9)</option>
                        <option value="33">Middle Childhood Education: Mathematics (5-9)</option>
                        <option value="34">Middle Childhood Education: Spanish (5-9)</option>
                        <option value="35">Visual Arts: Electronic Media</option>
                    </select>
                <div class="form-element-bar"></div>

            
        </div>
    </fieldset>
    <div class="form-actions">
        <button class="form-btn" type="submit">Submit</button>
        <button class="form-btn-cancel -nooutline" type="reset">Cancel</button>
    </div>
</form>