<link rel="stylesheet" href="/addStudent.css">

<form class="form-card" method="post" action="/searchUser">
    <fieldset class="form-fieldset">
        <legend class="form-legend">Search For a User's Information</legend>
        <div class="form-radio form-radio-inline">
            <div class="form-checkbox form-checkbox-inline">

                <div class="form-element form-input">
                    <input id="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9" class="form-element-field" placeholder=" "
                        type="input" required name="searched" />
                    <div class="form-element-bar"></div>
                    <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">Enter Name</label>
                </div>
    </fieldset>
    <div class="form-actions">
        <button class="form-btn" type="submit">Submit</button>
        <button class="form-btn-cancel -nooutline" type="reset">Cancel</button>
    </div>
</form>